<div class="container">
    <h1></h1>
    <div class="jumbotron">
        <h2>Gestión pedidos</h2>
    </div>
    <div class="row">
        <div class="col-md-3">
            <!-- List : Maybe a ShipmentListComponent ? -->
            <ul class="list-group">
                <li class="list-group-item">P001232</li>
            </ul>
            <!-- /List-->
        </div>
        <div class="col-md-9">
            <app-shipment-form [shipment]="shipment"></app-shipment-form>
        </div>
    </div>
</div>