<div class="shipment-panel">
    <div class="sidebar">
        <div class="main-action">
            <button type="button" class="btn btn-block btn-primary">
                <i class="fas fa-shipping-fast"></i> Nuevo envío
            </button>
        </div>
        <ul class="shipment-filter-list">
            <li (click)="selectGroup(g)" [ngClass]="selectedGroup == g ? 'active' : ''" *ngFor="let g of statusGroups">
                <span><i class="fas {{g.icon}}"></i></span>
                {{g.title }}
            </li>
        </ul>
        <hr/>
        <ul class="shipment-filter-list">
                <li (click)="selectStatus(s)" [ngClass]="selectedStatus == s ? 'active' : ''" *ngFor="let s of statuses">{{ s.title }}</li>
        </ul>
    </div>

    <div class="content">
        <app-shipment-list [shipments]="shipments"></app-shipment-list>
    </div>
</div>