
body {
    background:#eef5f9;
    color:#607188;
}
.no-select {
    -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.form-control{
    border-width: 2px;
    outline: 0 none !important;
}
.form-control:focus{
    outline: 0 none!important;
    box-shadow:none!important;
}

.form-control.ng-invalid.ng-dirty{
    border-color:#ff80ab;
}
.form-group.ng-invalid.ng-dirty ul{
    display: block;
    color:#ff80ab;
}
.ng-valid.ng-dirty{
    border-color: #80cbc4;
}