<div class="mb-3 clearfix">
    <h3 class="mb-2">Lista de envíos</h3>
    <p class>Pincha en los envíos para ver su seguimiento e imprimir su etiqueta.</p>
</div>

<div class="shipment-list">
    <div *ngIf="shipments == null || shipments.length == 0">
        <div class="card">
            <div class="card-body">
                <p><i class="fas fa-info"></i> No hay pedidos para mostrar.</p>
        </div>
    </div>
</div>
<app-shipment-list-item *ngFor="let shipment of shipments" [shipmentHdr]="shipment"></app-shipment-list-item>
</div>