.shipment-list-item{
    border-radius:0;
    transition: 0.1s all;
}
.shipment-list-item > .card-header{
    padding: 15px 20px;    
    border-bottom: 0;
    cursor: pointer;
}

.shipment-list-item > .card-header .shipment-status{
    display: inline-block;
    padding: 2px;
    border-radius: 2px;
    margin-left: 5px;
}

.shipment-list-item .shipment-details{ 
    background: #f9f9f9;
    display: none; 
}
/** OPENED **/

.shipment-list-item.opened {
    
    border-radius: 3px;
    margin:15px -20px;
}
:host:first-child{
    margin-top: 0;
}

.shipment-list-item.opened .shipment-details{display: block;}

.shipment-cols > div{
    float: left;
}

.shipment-cols > .order-ref{
    width: 90px;
}
.shipment-cols > .last-update{
    float: right;
}

.statuses-box{
    overflow: scroll;
    max-height: 300px;
    border-bottom: 4px solid #4285f4;
}

@media (max-width: 575px) {
    .statuses-box-helper{display:none;}
    .statuses-box{
        overflow: scroll;
        max-height: none;
        border-bottom: none;
    }
}
@media (max-width: 1100px) {
    .shipment-list-item.opened {
    
        border-radius: 3px;
        margin:15px -10px;
    }
  }