.shipment-list-item{
    border-radius:0;
    transition: 0.15s all;
}
.shipment-list-item > .card-header{
    padding: 15px 20px;    
    border-bottom: 0;
    cursor: pointer;
}

.shipment-list-item > .card-header .shipment-status{
    display: inline-block;
    padding: 2px;
    border-radius: 2px;
    margin-left: 5px;
}

.shipment-list-item .shipment-details{ display: none; }
/** OPENED **/

.shipment-list-item.opened {
    margin-top:15px;
    margin-bottom:15px;
    border-radius: 3px;
}
:host:first-child{
    margin-top: 0;
}

.shipment-list-item.opened .shipment-details{display: block;}

.shipment-cols > div{
    float: left;
}

.shipment-cols > .order-ref{
    width: 70px;
}
.shipment-cols > .last-update{
    float: right;
}