<div [ngClass]="opened ? 'opened' : 'closed'" class="card shipment-list-item">
    <div class="card-header no-select white" (click)="toggle()" >
        <div class="clearfix shipment-cols">
            <div class="order-ref">
                <strong>{{ orderRef }}</strong>
            </div>
            <div class="last-status">
                <span *ngIf="lastStatus" class="shipment-status" [ngClass]="lastStatus!=null ? 'text-'+lastStatus.status.statusGroup?.color : ''">
                    {{ lastStatus?.status.name }}
                </span>
            </div>
            <div class="last-update">
                <i class="fas fa-caret-down float-right"></i>
                <i class="fas fa-clock"></i> {{ lastStatus && lastStatus.updatedAt | date: 'dd/MM/yyyy HH:mm'}}
            </div>
        </div>



    </div>
    <div class="card-body shipment-details">
        <div class="row">

            <div class="col-md-12 col-lg-6">
                <h5>Status history</h5>
                <table class="table table-sm table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Code</th>
                            <th scope="col">Status</th>
                            <th scope="col">Date</th>
                            <th scope="col">Hour</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let s of statuses" [ngClass]="lastStatus!=null ? 'text-'+lastStatus.status.statusGroup?.color : ''">
                            <td>{{ s.status.code }}</td>
                            <td>{{ s.status.name }}</td>
                            <td>{{ s.createdAt | date: 'dd/MM/yyyy'}}</td>
                            <td>{{ s.createdAt | date: 'HH:mm'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12 col-lg-6">
                <h5>Order Details</h5>
                <ul class="list-unstyled">
                    <li><strong>Referencia pedido:</strong> {{ orderRef }}</li>
                    <li><strong>Nº Seguimiento:</strong> {{ trackingNum }}</li>
                </ul>
            </div>
        </div>
        <div class="text-right">
            <a class="btn btn-sm btn-danger"><i class="fas fa-times"></i> Cancelar</a>
            <a class="btn  btn-sm btn-default"><i class="fas fa-envelope"></i> Contactar cliente</a>
            <button class="btn  btn-sm btn-default"><i class="fas fa-barcode"></i> Ver etiqueta</button>
        </div>
    </div>
</div>