<div [ngClass]="opened ? 'opened' : 'closed'" class="card shipment-list-item">
    <div class="card-header white" (click)="toggle()">
        <strong>{{ orderRef }}</strong>

        <span [ngClass]="lastStatus.tags.indexOf('alert') > -1 ? 'text-danger' : 'text-cyan'" *ngIf="lastStatus" class="shipment-status">
            {{ lastStatus.title }}
        </span>
    </div>
    <div class="card-body shipment-details">
        <div class="row">

            <div class="col-md-6">
                <h5>Status history</h5>
                <table class="table table-sm table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Code</th>
                            <th scope="col">Status</th>
                            <th scope="col">Date</th>
                            <th scope="col">Hour</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let s of statuses" [ngClass]="s.tags.indexOf('alert') > -1 ? 'text-danger' : ''">
                            <td>{{ s.code }}</td>
                            <td>{{ s.title }}</td>
                            <td>{{ s.updatedAt | date: 'dd/MM/yyyy'}}</td>
                            <td>{{ s.updatedAt | date: 'HH:mm'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h5>Order Details</h5>
                <ul class="list-unstyled">
                    <li><strong>Order ref:</strong> {{ orderRef }}</li>
                    <li><strong>Tracking number:</strong> {{ trackingNum }}</li>
                </ul>
                <h5>Customer Details</h5>
                <ul class="list-unstyled">
                    <li><strong>Tracking number:</strong> {{ trackingNum }}</li>
                </ul>
            </div>
        </div>
        <div class="text-right">
            <a class="btn btn-sm btn-danger"><i class="fas fa-times"></i> Cancelar recogida</a>
            <a class="btn  btn-sm btn-default"><i class="fas fa-envelope"></i> Contactar cliente</a>
            <button class="btn  btn-sm btn-default"><i class="fas fa-barcode"></i> Ver etiqueta</button>
        </div>
    </div>
</div>